.banner{
    background-image: url('/images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 10px;
    border: 16px;
    margin: 50px 270px ;
}
.headin1{
        color: #FFF;
        text-align: center;
        font-family: Merriweather;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: ;
}
